body{
  margin: 0 auto;
}

.gridFull{
  display: grid;
  grid-template-rows: 11fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  gap: 3px;
  padding: 10px;
  font-size: 35px;
}

.site-header{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: rgb(6, 158, 200);
  color: white;
}

.site-main{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: rgb(51, 200, 6);
  color: white;
}

.widget-area{
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: rgb(174, 6, 200);
  color: white;
}

.site-footer{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(19, 6, 200);
  color: white;
}
