body{
  background-color: rgb(188, 146, 188);
}

th{
  background-color: white;
}

td:hover{
  background-color: rgb(102, 255, 0);
  color: blue;
  font-size: 25px;
  transition: 1s ease;
  cursor: pointer;
}

tr:hover{
  background-color: rgb(199, 199, 9);
}

.lentele{
  text-align: -webkit-center;
}

table{
    border-spacing: 0px;
    text-align: center;
    position: relative;
    overflow: hidden;
  
}


td, th, .row, .col {
  position: relative;
}

td:hover::before,
.row:hover::before { 
    background-color: #ffa;
    content: '';  
    height: 100%;
    left: -5000px;
    position: absolute;  
    top: 0;
    width: 10000px;   
    z-index: -1;        
}

td:hover::after,
.col:hover::after { 
    background-color: #ffa;
    content: '';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -400%;
    width: 100%;
    z-index: -1;        
}